Experiment_tracking/aws_keys
Experiment_tracking/client/src/experiments/__pycache__/customFunctions.cpython-310.pyc
Pipelines/awskeys
Pipelines/server/dags/__pycache__
Pipelines/server/dags/tmp_data/rentalData.csv
Pipelines/server/dags/tmp_data/data.csv
Pipelines/server/dags/teszt.py
